@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&family=Sacramento&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Sacramento", cursive;
  font-family: "Poppins", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
.banner {
  position: relative;
  height: 100vh;
}
.banner-left-side {
  background: url(images/b1.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  /* min-height: 875px; */
  min-height: 875px;
  width: 532px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.logo h1 {
  display: inline-block;
  margin: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff;
}
.menu {
  position: fixed;
  top: 150px;
  margin: 0;
  color: #000;
  z-index: 99;
  left: 2%;
  transition: max-height 0.5s ease-in;
  max-height: 0;
}
.menu {
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: #f7f7f7;
  transition: all 0.5s ease-in-out;
  /* position: absolute; */
  min-width: 11em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
  -webkit-box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
  -moz-box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
}
.menu.active {
  max-height: 360px;
}
.menu li a.active,
.menu li a:hover {
  background: #000;
  color: #fff;
}
.menu li a {
  display: block;
  padding: 9px;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.toggle {
  position: fixed;
  padding: 0 40px;
  width: 60px;
  height: 60px;
  background: url(images/files/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}
.toggle.active {
  background: url(images/files/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.banner-right-side {
  margin-left: 532px;
}
.intro {
  text-align: center !important;
  padding: 18em 0px;
}
.intro h5 {
  font-size: 20px;
}
.intro h4 {
  font-family: "Sacramento", cursive;
  font-size: 50px;
  color: #ec2266;
  /* text-transform: uppercase; */
}
.intro p {
  font-size: 30px;
  color: #9997a1;
}
.intro .contact-btn a {
  margin-top: 1.5rem !important;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
  font-weight: 400;
  border-radius: 0px;
  background-color: transparent;
  padding: 8px 15px;
  border: 1px solid #000;
}
.intro .contact-btn a:hover {
  color: #ec2266;
  border: 1px solid #ec2266;
}
.about {
  position: relative;
  background: #eaeaea;
  text-align: center !important;
}
.title h6 {
  text-align: center !important;
  font-size: 3.3em;
  color: #bbb;
  font-weight: bold;
  text-transform: uppercase;
}
.subtitle {
  text-align: center !important;
  position: absolute;
  top: 36px;
  left: 28%;
  /* transform: translateX(-50%); */
}
.subtitle h3 {
  font-size: 30px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: capitalize;
}
.disc {
  margin-bottom: 3rem !important;
}
.disc p {
  font-size: 15px;
  color: #888;
  letter-spacing: 1px;
  padding: 2em 13em 0em;
  line-height: 26px;
}
.about-pics {
  display: flex;
  flex-wrap: wrap;
}
.about-pics .card {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 15px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.about-fact h2 {
  margin: 1em auto;
  color: #fff;
  text-shadow: 0 0 15px #000, 0 0 30px #000;
  letter-spacing: 1px;
}
.about-fact p {
  padding: 0 15px;
  padding-bottom: 3em;
}
.about-count {
  display: flex;
  flex-wrap: wrap;
}
.about-count .box {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  padding-bottom: 3em;
}
.about-count .box h5 {
  font-size: 25px;
  color: #ec2266;
}
.about-count .box h6 {
  font-size: 18px;
}
.gallery-main {
  position: relative;
  text-align: center;
  padding: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* min-height: 100vh; */
  grid-gap: 10px;
}
.img-container {
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.img-container img:hover {
  transform: scale(1.2);
  filter: grayscale(50%);
}

/* lightbox */

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  padding: 0 15px;
}
.lightbox.open {
  display: flex;
}
.lightbox .lightbox-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  padding: 40px 0;
  cursor: pointer;

  animation: light 0.5s ease;
}
@keyframes light {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.lightbox .lightbox-content {
  position: relative;
}
.lightbox .lightbox-close {
  position: absolute;
  z-index: 101;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  cursor: zoom-out;
  font-size: 25px;
}
.lightbox .lightbox-caption {
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.lightbox .lightbox-controls .prev,
.lightbox .lightbox-controls .next {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 30px;
  transform: translateY(-20px);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.5s ease;
}
.lightbox .lightbox-controls div:hover {
  background-color: #fff;
  color: #000;
}
.lightbox .lightbox-controls .prev.prev {
  left: 30px;
}
.lightbox .lightbox-controls .next.next {
  right: 30px;
}
/* !gallery */

/* skill */
.skill {
  position: relative;
  text-align: center;
}
.skill-item {
  display: flex;
  flex-wrap: wrap;
}
.skill-box {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 3rem;
}
.skill-box h4 {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ec2266;
}
.skill-box p {
  font-size: 14px;
color: #000;
line-height: 25px;
padding: 0 10px;
}
/* !skill */

/* contact */
.contact {
  position: relative;
  text-align: center;

  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 3rem !important;
}
.button {
  display: inline-block;
  height: 60px;
  width: 60px;
  /* float: left; */
  margin: 0 5px;
  background: #fff;
  border-radius: 60px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  overflow: hidden;
  /* width: 180px; */
}
.button:hover {
  width: 180px;
}
.button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 60px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
a:nth-child(1):hover .button .icon {
  background: #4267b2;
}
a:nth-child(2):hover .button .icon {
  background: #1da1f2;
}
a:nth-child(3):hover .button .icon {
  background: #e1306c;
}
a:nth-child(4):hover .button .icon {
  background: #ff0000;
}
a:nth-child(5):hover .button .icon {
  background: #e5ff00;
}

.button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.button:hover .icon i {
  color: #fff;
}
.button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
a:nth-child(1):hover .button span {
  color: #4267b2;
}
a:nth-child(2):hover .button span {
  color: #1da1f2;
}
a:nth-child(3):hover .button span {
  color: #e1306c;
}
a:nth-child(4):hover .button span {
  color: #ff0000;
}
a:nth-child(5):hover .button span {
  color: #e5ff00;
}

/* !contact */

/* footer */
footer {
  padding: 1rem 0 !important;
  background: #333232;
}
.footer-container {
  padding: 0 15px;
  width: 100%;
}
.footer-container p {
  font-size: 1rem;
  text-align: center !important;
  color: #bbb;
}
.footer-container p a {
  color: #48eb5d;
}
/* !footer */

/* Responsive */

@media (max-width: 1280px) {
  .intro {
    padding: 10em 0;
  }
  .subtitle {
    top: 38px;
    left: 25%;
  }
  .subtitle h3 {
    font-size: 29px;
  }
  .disc p {
    padding: 2em 10em 0em;
  }
}
@media (max-width: 1180px) {
  .intro h4 {
    margin: 0 20px;
  }
  .subtitle {
    left: 20%;
  }
  .disc p {
    padding: 2em 7em 0em;
  }
}
@media (max-width: 1080px) {
  .intro {
    padding: 8em 0;
  }
  .subtitle {
    left: 17%;
  }
  .disc p {
    padding: 2em 3em 0em;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 1024px) {
  .subtitle {
    left: 12%;
  }
}
@media (max-width: 991px) {
  .banner-left-side {
    width: 100%;
    position: inherit;
    background-position: inherit;
    min-height: 574px;
  }
  .banner-right-side {
    margin-left: 0px;
  }
  .toggle {
    top: 50px;
  }
  .menu {
    top: 110px;
  }
  .intro h4 {
    font-size: 45px;
  }
  .subtitle {
    left: 31%;
  }
  .about-count .box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .modal p {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .subtitle {
    left: 28%;
  }
}
@media (max-width: 800px) {
}
@media (max-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 736px) {
  .subtitle {
    left: 23%;
  }
}
@media (max-width: 667px) {
  .banner-left-side {
    min-height: 400px;
  }
  .intro {
    padding: 3.5em 0;
  }
  .subtitle {
    left: 21%;
  }
}
@media (max-width: 640px) {
  .disc p {
    padding: 2em 1em 0em;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 568px) {
  .subtitle {
    left: 18%;
  }
}
@media (max-width: 520px) {
  .subtitle {
    left: 15%;
  }
  .skill-box {
    flex: none;
    max-width: 100%;
  }
}
@media (max-width: 440px) {
  .title h6 {
    font-size: 2.5em;
  }
  .subtitle {
    top: 27px;
  }
  .subtitle h3 {
    font-size: 23px;
  }
  .about-pics .card {
    flex: none;
    max-width: none;
  }
}
@media (max-width: 384px) {
  .subtitle {
    left: 12%;
  }
}
@media (max-width: 375px) {
  .subtitle {
    left: 10%;
  }
}
@media (max-width: 320px) {
}
